.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main form {
  width: 620px;
}
.main label {
  height: 40px;
}

.wrapRight {
  float: right;
  display: inline-flex;
  flex-direction: column;
  text-align: right;
}
.wrapRight span:last-child {
  color: #999;
}

.main button {
  height: 32px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.main form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main form input {
  float: right;
}
